// Width
$maxwidth: 600px;
// Fonts
$font: "LatoWeb", sans-serif;
$heavy: "LatoWebHeavy", sans-serif;
$bold: "LatoWebBold", sans-serif;

// Colors
$mainbg: #f2f2f2;
$black: #333333;
$gray: #707070;
$orange: #fc6620;
$orange1: #ff5a00;
$more: #f57b00;
$grey: #9b9da4;
$green: #007f0e;
$border: #dddddd;
$border1: #f7f7f7;
$border2: #727c8e;
$checkout: #241332;
