.default {
  font-size: 14px;
  height: 40px;
  color: white;
  display: block;
  width: 100%;
  font-weight: bold;
  margin: 0 auto;
  border: medium none;
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: linear-gradient(
    to right,
    rgba(253, 160, 38, 1) 0%,
    rgba(255, 84, 46, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fda026', endColorstr='#ff542e', GradientType=1 );
  &:hover,
  &:active,
  &:focus {
    color: white;
    background: linear-gradient(
      to right,
      rgba(253, 160, 38, 1) 0%,
      rgba(255, 84, 46, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fda026', endColorstr='#ff542e', GradientType=1 );
  }
}

.disabled {
  font-size: 14px;
  height: 40px;
  color: white;
  display: block;
  width: 100%;
  font-weight: bold;
  margin: 0 auto;
  border: medium none;
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: #999;
  &:hover,
  &:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background: #999;
    color: white;
  }
}
