@import "../../static/styles/variable.scss";
.order-box-container {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  display: block;

  .box {
    background: white;
    border-radius: 20px;
    padding: 20px 20px 16px;
    margin-top: 16px;
    margin-bottom: 4px;
    hr {
      border: medium none;
      border-bottom: 1px solid rgba(114, 124, 142, 0.1);
      margin: 15px 0;
    }
  }
  .small {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    button {
      margin: 15px auto 0;
    }
  }
  .title {
    margin: 0;
    font-size: 22px;
    font-family: $heavy;
    margin-bottom: 15px;
  }
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: $gray;
    span {
      font-family: $bold;
      margin-left: 0.5em;
    }
    li {
      line-height: 27px;
    }
  }
  .price {
    color: $orange;
  }
  .status {
    color: $green;
  }
  .morea {
    display: inline-block;
    margin: 15px 0 0;
  }
  .more {
    color: $more;
    border: 1px solid $more;
    font-size: 12px;
    line-height: 34px;
    text-align: center;
    border-radius: 23px;
    background: white;
    font-family: $heavy;
    padding: 0 8px 0 19px;
    display: flex;
    align-items: center;
    i {
      font-size: 18px;
      line-height: 34px;
      line-height: 0;
      width: 28px;
      position: relative;
      top: -0.5px;
    }
  }
  .items {
    h4 {
      color: $gray;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: flex;
      align-items: center;
      margin-top: 15px;
    }
    p {
      margin: 0;
    }
  }
  .foodname {
    font-size: 16px;
    line-height: 19px;
    font-family: $bold;
  }
  .quantity {
    font-size: 14px;
    color: rgba(81, 92, 111, 0.5);
    margin: 6px 0;
  }
  .price {
    color: $more;
    font-size: 14px;
    font-family: $bold;
  }
  .image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 16px;
  }
}
